/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.spinner {
	width: 56px;
	height: 56px;
	border-radius: 50%;
	background: radial-gradient(farthest-side, #474bff 94%, #0000) top/9px 9px
			no-repeat,
		conic-gradient(#0000 30%, #474bff);
	-webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
	animation: spinner-c7wet2 1s infinite linear;
}

@keyframes spinner-c7wet2 {
	100% {
		transform: rotate(1turn);
	}
}

/* .MuiChartsLegend-root {
	display: none;
}

.MuiChartsAxisHoghlight-root,
.base-Popper-root {
	display: none;
} */

::-webkit-scrollbar {
	width: 8px; /* Increase width for better visibility */
}

/* Scrollbar track */
::-webkit-scrollbar-track {
	background-color: #f0f0f0; /* Light grey background */
	border-radius: 10px;
}

/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
	background-color: #b1afaf; /* Darker color for better visibility */
	border-radius: 10px;
	border: 2px solid #f0f0f0; /* Add border for contrast with the background */
}

/* Scrollbar thumb on hover */
::-webkit-scrollbar-thumb:hover {
	background-color: #838383; /* Change color on hover for better UX */
}

/* Scrollbar corner when both horizontal and vertical are present */
::-webkit-scrollbar-corner {
	background-color: #f0f0f0; /* Same background as track */
}
